body
{
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
main
{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

header {
    background-color: black;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content img {
    margin-right: 10px;
}

#nav-bar {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

#nav-bar ul li {
    display: inline;
    color: #fff;
}
#nav-bar ul li a {
    display: block;
    color: white; /* Change text color to white */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

#nav-bar ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

#nav-bar ul li a.active {
    color: #333;
}
#content #artists-img {
    border-radius: 20px;
}
#content iframe {
    border-radius: 20px;
}
#content p{
    width: 80%;
}
#artists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: #333;
    border-radius: 20px;
    width: 90%;
    padding: 10px;
    height: auto;
    
}

#artists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: #333;
    border-radius: 20px;
    width: 90%;
    padding: 10px;
    height: auto;
}

#artists {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#artists tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#artists tr td {
    background-color: #333;
    color: #f0f0f0;
    border-radius: 20px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    padding: 10px;
    margin: 10px; /* Add margin to create space between items */
    width: calc(25% - 20px); /* Adjust width to fit 4 items per row with margin */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

#artists tr td img {
    border-radius: 20px;
    background-color: #333;
    width: 100px;
    height: 100px;
    margin-bottom: 10px; /* Add space between image and text */
}

#content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 2%;
}
footer
{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.video-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

#contact {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#contact, #contact th, #contact td {
    border: 1px solid #333;
}

#contact th, #contact td {
    padding: 10px;
    text-align: center;
}

#contact th {
    background-color: #333;
    color: #fff;
}

#contact a {
    color: #333;
    text-decoration: none;
}

#contact a:hover {
    color: black;
    text-decoration: underline;
}
#albums {
    width: 90%;
    border-radius: 20px;
    background-color: #333;
}
#albums ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
    list-style: none;
}

#buy-albums li {
    list-style: none;
    width: 20%;
}
#buy-albums li img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
#buy-albums {
    width: 90%;
    border-radius: 20px;
    background-color: #333;
    margin-bottom: 2%;
}
#buy-albums ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
    list-style: none;
}

#buy-albums li {
    list-style: none;
}

#shop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: #333;
    border-radius: 20px;
    width: 90%;
    padding: 10px;
    height: auto;
    color: #f0f0f0;
    margin-top: 2%;
}

#shop-categories ul {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

#shop-categories ul li {
    display: inline;
}

#shop-categories ul li a {
    display: block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}

#shop-categories ul li a:hover {
    background-color: #575757;
}

#shop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    width: 90%;
    padding: 10px;
    height: auto;
    color: #f0f0f0;
    margin-top: 20px; /* Add margin to create space from other elements */
    border: 2px solid #575757; /* Add border to the shop container */
}

#shop-table {
    width: 100%;
    border-collapse: collapse;
}

#shop-table th, #shop-table td {
    border: 1px solid #575757; /* Add border to table cells */
    padding: 10px;
    text-align: center;
}

#shop-table th {
    background-color: #333;
    color: #fff;
}

#shop-table td img {
    width: 150px; /* Set fixed width for images */
    height: 150px; /* Set fixed height for images */
   
    border-radius: 10px; /* Add border radius to images */
}
#shop-table td a {
    color: #f0f0f0;
    text-decoration: none;
}
#shop-table td a:hover {
    color: gray;
    text-decoration: underline;
}

.slides {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.slides img {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.thumbnails {
    display: flex; /* Enable flexbox */
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: center; /* Center thumbnails horizontally */
    width: 100%; /* Adjust thumbnail width based on viewport width */
    height: auto; /* Maintain aspect ratio */
}

.thumbnails img {
    flex: 1 1 100px; /* Allow thumbnails to shrink and grow */
    max-width: 80px; /* Ensure thumbnails do not exceed 100px */
    height: auto;
    margin: 0 5px;
    margin-top: 2%;
    cursor: pointer;
    border-radius: 10px;
}

.thumbnails img.active {
    border: 2px solid #333;
}
.description {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 2%;
}
.product-details {
    gap: 10px;
    border-radius: 20px;
    padding: 10px;
    height: auto;
    margin-left: 1%;
}
.pic-table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}
.pic-table td {
    border: 2px solid #333;
}
.sources {
    background-color: #f9f9f9; /* Light background color */
    border: 2px solid black;    /* Black border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside the div */
    margin: 20px auto; /* Center the div and add vertical margin */
    width: 80%; /* Adjust the width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center; /* Center the text */
}

.sources ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
}

.sources li {
    margin: 10px 0; /* Space between list items */
}

.sources a {
    text-decoration: none; /* Remove underline from links */
    color: black; /* Black text color */
    font-weight: bold; /* Bold text for links */
}

.sources a:hover {
    text-decoration: underline; /* Underline on hover */
    color: #333; /* Darker text color on hover */
}
.purchase-links{
   text-align: center;
}
.purchase-links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
    list-style: none;
}
.purchase-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.purchase-links-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
    list-style: none;
}
.purchase-links-list li {
    list-style: none;
    border: black 2px solid;
    padding: 10px;
    border-radius: 10px;
    background-color: #333;
}
.purchase-links-list li a {
    text-decoration: none;
    color: white;
}
.purchase-links-list li a:hover {
    text-decoration: underline;
    color: #575757;
}
.purchase-links ul :nth-child(4){
    order: 1;
}

@media (max-width: 700px) {
    #logo {
        width: 100px; /* Adjust logo size */
        height: auto;
    }

    iframe {
        width: 100%; /* Adjust iframe width */
        height: auto;
    }

    img {
        width: 100%;
        height: auto;
    }

    .table-container {
        width: 100%;
        overflow-x: auto; /* Enable horizontal scrolling */
    }
    #artists tr td {
        width: calc(50% - 20px); /* Adjust width to fit 2 items per row on smaller screens */
    }
    .description p{
        font-size: 14px;
    }

}

@media (max-width: 400px) {
    #shop-table td img {
        width: 60px; /* Adjust image size for very small screens */
        height: 60px; /* Adjust image size for very small screens */
    }
    .description p{
        font-size: 12px;
    }
}