body
{
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
main
{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

header {
    background-color: black;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content img {
    margin-right: 10px;
}

#nav-bar {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

#nav-bar ul li {
    display: inline;
    color: #fff;
}
#nav-bar ul li a {
    display: block;
    color: white; /* Change text color to white */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

#nav-bar ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

#nav-bar ul li a.active {
    color: #333;
}
#content #artists-img {
    border-radius: 20px;
}
#content iframe {
    border-radius: 20px;
}
#artists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: #333;
    border-radius: 20px;
    width: 90%;
    padding: 10px;
    height: auto;
    
}

#artists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: #333;
    border-radius: 20px;
    width: 90%;
    padding: 10px;
    height: auto;
}

#artists {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#artists tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#artists tr td {
    background-color: #333;
    color: #f0f0f0;
    border-radius: 20px;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    padding: 10px;
    margin: 10px; /* Add margin to create space between items */
    width: calc(25% - 20px); /* Adjust width to fit 4 items per row with margin */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

#artists tr td img {
    border-radius: 20px;
    background-color: #333;
    width: 100px;
    height: 100px;
    margin-bottom: 10px; /* Add space between image and text */
}

#content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 2%;
}
footer
{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.video-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

#contact {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#contact, #contact th, #contact td {
    border: 1px solid #333;
}

#contact th, #contact td {
    padding: 10px;
    text-align: center;
}

#contact th {
    background-color: #333;
    color: #fff;
}

#contact a {
    color: #333;
    text-decoration: none;
}

#contact a:hover {
    color: black;
    text-decoration: underline;
}
#albums {
    width: 90%;
    border-radius: 20px;
    background-color: #333;
}
#albums ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
    list-style: none;
}

#albums li {
    list-style: none;
}
#shop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: #333;
    border-radius: 20px;
    width: 90%;
    padding: 10px;
    height: auto;
    color: #f0f0f0;
    margin-top: 2%;
}

#shop-categories ul {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

#shop-categories ul li {
    display: inline;
}

#shop-categories ul li a {
    display: block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}

#shop-categories ul li a:hover {
    background-color: #575757;
}

@media (max-width: 700px) {
    #logo {
        width: 100px; /* Adjust logo size */
        height: auto;
    }

    iframe {
        width: 100%; /* Adjust iframe width */
        height: auto;
    }
    img{
        width: 100%;
        height: auto;
    }
    .table-container {
        width: 100%;
        overflow-x: auto; /* Enable horizontal scrolling */
    }

    table {
        width: 100%; /* Adjust table width */
        font-size: smaller; /* Adjust font size */
        border-collapse: collapse; /* Ensure borders collapse */
    }
    td img{
        height: 40px;
        width: 40px;
    }
    #shop-categories ul {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center;
    }

    #shop-categories ul li {
        width: 100%; /* Make each item take full width */
    }

    #shop-categories ul li a {
        width: 100%; /* Make each link take full width */
    }
    #artists tr td {
        width: calc(50% - 20px); /* Adjust width to fit 2 items per row on smaller screens */
    }
}